.main-background {
  background-image: url("../images/login-bg.jpg");
  background-size: cover;
  background-position: center;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-head {
  font-family: "Open Sans", sans-serif;
  color: #31d7a9;
}

#HELLO {
  font-weight: normal;
  color: #31d7a9;
}

.dark-blue-bg {
  background-color: #031637;
}

.main-section {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}

.white-text {
  color: white;
}

.login-btn {
  background-image: -webkit-linear-gradient(
    169deg,
    #5560ff 17%,
    #aa52a1 63%,
    #ff4343 100%
  );
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.btn-div {
  align-items: center;
  text-align: center;
}

.option {
  text-align: center;
  color: #dbe2fb;
}

.option > a {
  color: #31d7a9;
}

.input-name {
  color: #e5e3e5;
  font-size: medium;
  text-align: center;
}

.form-control {
  background-color: #e5e3e5;
}

.age-input {
  height: 25px;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
